body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000;
  text-align: center;
  45454
}

p {
  font-family: verdana;
  font-size: 20px;
}
h2.profile {
  font-family:'Times New Roman', Times, serif;
  color: rgb(236, 0, 0);
  text-align: center;
}
.profile {
  font-family:'Times New Roman', Times, serif;
  color: rgb(236, 0, 0);
  text-align: center;
}